.required:before {
    content: "* ";
    color: red;
}

.x-static-text-field {
    background: transparent;
    border: none;
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

.info-desc {
    background-color: #C8E5FF;
}